* { 
  margin: 0 auto;
  padding: 0;
  border-style: border-box;
}

div .places { 
  display: flex;
  flex-wrap: wrap;
}

.card { 
  text-align: center;
}

.image { 
  height: 200px;
  width: 200px;
  padding: 10px;
}

button { 
  padding: 10px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover { 
  background-color: #c4c4c4;
  color: white;
}

h1 { 
  text-align: center;
  
}

.favorite { 
  margin-left: 320px;
}